# Redirect the user to the url based on the regular expression

# Documentation         --> https://httpd.apache.org/docs/current/fr/mod/mod_rewrite.html
# Tutorial video (fr)   --> https://www.youtube.com/watch?v=isBts_TGnrk (Url rewriting)
#                       --> https://www.youtube.com/watch?v=Q9PZXoe-aAE&t=4s (Url rewriting + routing)

RewriteEngine On

# If directory or file doesn't exist continue the request
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# $1 --> first expression
# $2 --> second expression
# ...

# Get all
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]
# NC --> No case sentitiv - L --> Last parameter

# According to the intervention number
# RewriteRule ^intervention/([0-9]+)$ index.php?id=$1
# Url exemple : "intervention/205"

# According to the intervention title and id (letters and numbers)
# RewriteRule ^intervention/([a-z-0-9-]+)-([0-9]+)$ index.php?titre=$1&id=$2
# Url exemple : "intervention/my-intervention-205"


